/* MEDIA QUERY for MOBILE SCREEN width */
@media (max-width: 900px) {
    /* HEADER NAV as FLEX CONTAINER for UL and hamburger menu*/
    .header-nav {
        display: flex;
        justify-content: space-between;
        /* hide UL in HEADER NAV, make MENU appear on same line */
        .header-nav-flex {
            visibility: hidden;
            width: 70%;
        }
        /* MENU appears on same line as UL */
        div.hamburger-menu {
            display: flex;
            justify-content: flex-end;
            width: 30%;
            margin-top: 20px;
        }
    }

    div.social-icon-bar {
        visibility: hidden;
    }
    
    div.flexAbout {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 60px 0 60px;
        div.textContainer1 {
            margin-left: 0px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding-top: 50px;
            h2 {
                text-align: center;
                padding-bottom: 50px;
            }
            button {
                align-self: center;
            }
        }
        div.imgContainer2 {
            width: 100%;
            img {
                width: 100%;
                object-position: 0px -40px;
                object-fit: cover;
            }
        }
    }

    section.gallery {
        padding-top: 50px;
        padding-bottom: 100px;
        h2 {
            padding-bottom: 50px;
            text-transform: none;
        }
        li:nth-child(2) {
            display: none;
        }
        .galleryFlex li {
            width: 50%;
            margin-left: 0;
        }
        .galleryFlex li:nth-child(3) {
            margin-right: 0;
        }
    }

    section.nav2 {
        padding-top: 120px;
    }

    section.nav2 .nav2Flex {
        flex-direction: column;
        flex-wrap: wrap;
        li {
            text-align: center;
            padding-bottom: 50px;
        }
            li:nth-child(2) {
                margin-left: 0px;
            }
        i {
            padding-bottom: 15px;
        }
    }

    section.blog {
        display: flex;
        flex-direction: column;
    }

    div.blogFlex1 {
        flex-direction: column;
        flex-wrap: wrap;
        div.textContainer2 {
            width: 100%;
            display: flex;
            flex-direction: column;
            h2 {
                text-align: center;
            }
            button {
                align-self: center;
            }
        }
        div.imgContainerR {
            position: unset;
            img {
                position: unset;
            }
        }
        
    }

    div.blogFlex2 {
        flex-direction: column;
        flex-wrap: wrap;
        div.imgContainerL{
            position: unset;
            img {
                position: unset;
            }
        }    
        div.textContainer3 {
            width: 100%;
            display: flex;
            flex-direction: column;
            h2 {
                text-align: center;
            }
            button {
                align-self: center;
            }
        }
    }

    /* FOOTER STYLING FLEX container */
    div.footerFlex {
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 40px;
        /* FOOTER NAVBAR */
        nav.footer-nav {
            padding-top: 0;
            padding-bottom: 50px;
            width: 100%;
            /* UL as FOOTER NAVBAR FLEX container */
            ul.footer-nav-flex {
                display: flex;
                justify-content: space-between;
                li {
                    text-transform: capitalize;
                    font-weight: 300;
                }
            }
        }
        /* FORM STYLING */
        form h2 {
            padding-bottom: 20px;
        }
        label {
            font-weight: 400;
        }
        /* FORM FLEX container for input bar and button */
        div.formFlex {
            flex-direction: column;
            flex-wrap: wrap;
            input {
                width: 100%;
                margin-bottom: 20px;
                text-align: center;
            }
            button {
                align-self: center;
            }
        }
        /* CONTACT div center text */
        div.contact-info {
            text-align: center;
            padding-top: 50px;
            p {
                font-weight: 400;
            }
        }
    }
}