/* MEDIA QUERY for MOBILE SCREEN width */
@media (max-width: 900px) {
    /* HEADER NAV as FLEX CONTAINER for UL and hamburger menu*/
    .header-nav {
        display: flex;
        justify-content: space-between;
        /* hide UL in HEADER NAV, make MENU appear on same line */
        .header-nav-flex {
            visibility: hidden;
            width: 70%;
        }
        /* MENU appears on same line as UL */
        div.hamburger-menu {
            display: flex;
            justify-content: flex-end;
            width: 30%;
            margin-top: 20px;
        }
    }
    /* HEADER with id=home */
    #home {
        background-position-x: -75px;
        background-position-y: 320px;
        background-size: contain;
        height: 1000px;
    }
    /* MAIN HEADING inside FLEX container HEADER */
    div.headerFlex h1 {
        top: 30px;
        left: 45%;
        text-align: right;
        padding-right: 0;
        font-size: 3.5rem;
        width: min-content;
    }
    /* SOCIAL MEDIA ICON BAR hide */
    div.social-icon-bar {
        visibility: hidden;
    }
    /* ABOUT section */
    div.flexAbout {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 60px 0 60px;
        /* TEXT container 1 for ABOUT */
        div.textContainer1 {
            margin-left: 0px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding-top: 50px;
            h2 {
                text-align: center;
                padding-bottom: 50px;
            }
            button {
                align-self: center;
            }
        }
        /* IMG container 2 for IMG in ABOUT section */
        div.imgContainer2 {
            width: 100%;
            img {
                width: 100%;
                object-position: 0px -40px;
                object-fit: cover;
            }
        }
    }
    /* GALLERY section with 2 IMG instead of 3 */
    section.gallery {
        padding-top: 50px;
        padding-bottom: 100px;
        h2 {
            padding-bottom: 50px;
            text-transform: none;
        }
        li:nth-child(2) {
            display: none;
        }
        .galleryFlex li {
            width: 50%;
            margin-left: 0;
        }
        .galleryFlex li:nth-child(3) {
            margin-right: 0;
        }
    }

    /* second navbar section */
    section.nav2 {
        padding-top: 120px;
        /* ul as FLEX container */
        .nav2Flex {
            flex-direction: column;
            flex-wrap: wrap;
            li {
                text-align: center;
                padding-bottom: 50px;
            }
                li:nth-child(2) {
                    margin-left: 0px;
                }
            i {
                padding-bottom: 15px;
            }
        }
    }
    /* BLOG section */
    section.blog {
        display: flex;
        flex-direction: column;
        /* FLEX container for blog part 1 */
        div.blogFlex1 {
            flex-direction: column;
            flex-wrap: wrap;
            background-image: none;
            /* right IMG container instead of bg IMG */
            div.bg1 {
                display: unset;
                height: fit-content;
                margin-bottom: 30px;
                img {
                    width: 100%;
                    height: fit-content;
                }
            }
            div.textContainer2 {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding-top: 50px;
                h2 {
                    text-align: center;
                }
                button {
                    align-self: center;
                }
            }        
        }
        /*flex container for blog part 2 */
        div.blogFlex2 {
            flex-direction: column;
            flex-wrap: wrap;
            background-image: none;
            /*left IMG container instead of bg */
            div.bg2 {
                display: unset;
                height: fit-content;
                margin-bottom: 30px;
                img {
                    width: 100%;
                    height: fit-content;
                }
            }
            div.textContainer3 {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding-top: 50px;
                h2 {
                    text-align: center;
                }
                button {
                    align-self: center;
                }
            }
        }
    }

    /* FOOTER STYLING FLEX container */
    div.footerFlex {
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 40px;
        /* FOOTER NAVBAR */
        nav.footer-nav {
            padding-top: 0;
            padding-bottom: 50px;
            width: 100%;
            /* UL as FOOTER NAVBAR FLEX container */
            ul.footer-nav-flex {
                display: none;
                justify-content: space-between;
                width: 0px;
                li {
                    text-transform: capitalize;
                    font-weight: 300;
                }
            }
            /* FOOTER NAVBAR for MOBILE */
            ul.footer-nav-mobile {
                display: flex;
                justify-content: space-between;
                li {
                    font-weight: 300;
                }
            }
        }
        /* FORM STYLING */
        form h2 {
            padding-bottom: 20px;
        }
        label {
            font-weight: 400;
        }
        /* FORM FLEX container for input bar and button */
        div.formFlex {
            flex-direction: column;
            flex-wrap: wrap;
            input {
                width: 100%;
                margin-bottom: 20px;
                text-align: center;
            }
            button {
                align-self: center;
            }
        }
        /* CONTACT div center text */
        div.contact-info {
            text-align: center;
            padding-top: 50px;
            p {
                font-weight: 400;
            }
        }
    }
}

@media(min-width: 300px) and (max-width: 400px){
    div.headerFlex h1 {
        left: 5%;
        font-size: 6vmax;
    }
    #home {
        height: 800px;
    }
    div.textContainer1 h2,
    div.textContainer2 h2,
    div.textContainer3 h2,
    section.gallery h2,
    form h2,
    ul.nav2Flex h3,
    div.contact-info h3 {
        font-size: 1.9rem;
    }
}

@media(min-width: 400px) and (max-width: 500px) {
    div.headerFlex h1 {
        left: 17%;
        font-size: 7.2vmax;
        height: 950px;
    }
    div.textContainer1 h2,
    div.textContainer2 h2,
    div.textContainer3 h2,
    section.gallery h2,
    form h2,
    ul.nav2Flex h3,
    div.contact-info h3 {
        font-size: 2.1rem;
    }
}

@media(min-width: 480px) and (max-width: 900px) {
    div.headerFlex h1 {
        left: 23%;
        font-size: 8.5vmax;
        height: 1600px;
    }
}