@use 'partials/setup';
@use 'partials/media';
@use 'partials/stripping';
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* variables for background colours and text colour */
$mainColor: #815600;
$secondColor: #500801;
$thirdColor: #1D0303;
$textColor: #FFFFFF;

/* General styles */
html {
    font-size: 125%;
    color: $textColor;
    font-weight: 400;
    font-family: 'Petit Formal Script', cursive;
    background: $mainColor;
}

p, .header-nav, .footer-nav, small {
    font-family: 'Roboto', sans-serif;
}

p, .header-nav {
    font-weight: 300;
    font-size: 1rem;
    line-height: 29px;
}

p {
    letter-spacing: 0.2px;
}

h1 {
    font-size: 4.5rem;
    line-height: 94.3px;
    text-align: right;
    font-weight: 400;
}

h2 {
    font-size: 2.7rem;
    font-weight: 400;
}

h3 {
    font-size: 2.25rem;
    font-weight: 400;
}

/* STYLING ALL BUTTONS */
button {
    font-size: 1.25rem;
    line-height: 29px;
    text-align: center;
    color: $textColor;
    font-family: 'Petit Formal Script', cursive;
    padding: 7.5px 17px;
    border: 5px solid $thirdColor;
    transition: all 0.2s ease-in;
}

.footer-nav {
    line-height: 29px;
}

.about, .nav2, footer {
    background: $secondColor;
}

button, .copyright {
    background: $thirdColor;
    text-align: center;
}

/* STYLING FOR ALL BUTTONS HOVER, FOCUS, ACTIVE */
button:hover, button:focus, button:active {
    cursor: pointer;
    text-shadow: 0 0 2px $textColor;
    font-size: 1.5rem;
    box-shadow: 0 0 15px $thirdColor;
}

/* STYLING FOR ALL ANCHOR TAGS HOVER, FOCUS, ACTIVE */
a:hover, a:focus, a:active {
    text-shadow: 0 0 2px $textColor;
}

/* HEADER background img */
header {
    background-image: url("../assets/group-bags.png");
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: center;
    height: 800px;
}

/* FLEX h1 and header img */
.headerFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    /* POSITIONING MAIN HEADING relative to background header img */
    h1 {
        width: 50%;
        position: absolute;
        top: 270px;
        left: -100px;
        padding-right: 20px;
    }
    /* IMG container for header img */
    .imgContainer1 {
        width: 50%;
        margin-bottom: 50px;
        padding-left: 60px;
        position: relative;
        img {
            object-fit: contain;
            width: 100%;
            display: none;
        }
        /* social media icon bar header */
        .social-icon-bar {
            display: flex;
            flex-direction: column;
            text-align: center;
            position: fixed;
            right: 60px;
            top: 540px;
            z-index: 1;
            i {
                margin-bottom: 10px;
            }
        }
    }
}

/* FLEX container for header navbar */
.header-nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10px;
    a {
        display: inline-block;
        padding-top: 15px;
        padding-right: 15px;
        margin-right: 20px;
    }
}

/* hide MENU before mobile screen width */
.hamburger-menu {
    display: none;
}

/* FLEX container ABOUT section for text and image */
.flexAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 120px;
    padding-top: 60px;
    /* IMG CONTAINER 2 for image in ABOUT section */
    .imgContainer2 {
        width: 35%;
        padding-top: 10px;
        img {
            width: 320px;
            height: 400px;
            object-fit: cover;
            object-position: -62px 60px;
        }
    }
    /* TEXT CONTAINER 1 ABOUT section */
    .textContainer1 {
        width: 100%;
        margin-left: 50px;
        padding-top: 60px;
        h2 {
            padding-bottom: 30px;
        }
        p {
            padding-bottom: 35px;
        }
    }
}

/* GALLERY section inside MAIN */
.gallery {
    padding-top: 90px;
    padding-bottom: 150px;
    h2 {
        text-align: center;
        padding-bottom: 80px;
        text-transform: lowercase;
    }
    /* FLEX container for GALLERY images */
    .galleryFlex {
        display: flex;
        li {
            margin-right: 20px;
            margin-left: 20px;
            width: calc((100% / 3) - 40px);
            img {
                width: 100%;
            }
        }
    }
}

/* second NAV inside main section */
.nav2 {
    padding-top: 50px;
    padding-bottom: 80px;
    /* FLEX container for 2nd navbar */
    .nav2Flex {
        display: flex;
        justify-content: space-evenly;
        /* only add more margin for 2nd list element */
        li:nth-child(2) {
            margin-left: 40px;
        }   
            i {
            display: block;
            text-align: center;
            }    
    }
}

/* BLOG SECTION 1 FLEX AND POSITIONING */
.blogFlex1 {
    display: flex;
    /* TEXT CONTAINER2 for first blog text */
    .textContainer2 {
        width: 50%;
        padding-top: 100px;
        padding-bottom: 105px;
        h2 {
            padding-bottom: 35px;
        }
        p {
            padding-bottom: 40px;
        }
    }
    /* IMG container for IMG on the right */
    .imgContainerR {
        position: relative;
        width: 100%;
        img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 20%;
        }
    }
}

/* BLOG SECTION 2 FLEX AND POSITIONING */
.blogFlex2 {
    display: flex;
    /* IMG container for IMG on the left */
    .imgContainerL {
        width: 100%;
        position: relative;
        img {
            width: 100%;
            position: absolute;
            top: 0;
            right: 22%;
        }
    }
    /* TEXT container for 2nd blog text */
    .textContainer3 {
        width: 67%;
        padding-top: 90px;
        padding-bottom: 100px;
        h2 {
            padding-bottom: 30px;
        }
        p {
            padding-bottom: 30px;
        }
    }
}

/* FOOTER STYLING FLEX */
.footerFlex {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
    /* NAVBAR FOOTER */
    .footer-nav {
        padding-top: 80px;
        width: 20%;
        /* hide FOOTER NAVBAR for MOBILE */
        .footer-nav-mobile {
            display: none;
        }
    }
    /* FORM STYLING FOOTER */
    form {
        text-align: center;
        h2 {
            padding-bottom: 45px;
        }
        label {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            letter-spacing: 0.3px;
            display: block;
            padding-bottom: 15px;
        }
        /* FLEX CONTAINER for input bar and subscribe button */
        .formFlex {
            display: flex;
            input {
                width: 450px;
                height: 52.5px;
                border-radius: 0px;
            }
        }
    }
    /* CONTACT section FOOTER */
    .contact-info {
        text-align: right;
        padding-top: 40px;
        h3 {
            padding-bottom: 15px;
        }
    }
}

/* COPYRIGHT section FOOTER */
.copyright {
    padding: 10px;
    letter-spacing: 0.2px;
    line-height: 29px;
}
