@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MEDIA QUERY for MOBILE SCREEN width */
@media (max-width: 900px) {
  /* HEADER NAV as FLEX CONTAINER for UL and hamburger menu*/
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* hide UL in HEADER NAV, make MENU appear on same line */
    /* MENU appears on same line as UL */
  }
  .header-nav .header-nav-flex {
    visibility: hidden;
    width: 70%;
  }
  .header-nav div.hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 30%;
    margin-top: 20px;
  }
  #home {
    background-position-x: -75px;
    background-position-y: 320px;
    background-size: contain;
    height: 1000px;
  }
  div.headerFlex h1 {
    top: 30px;
    left: 45%;
    text-align: right;
    padding-right: 0;
    font-size: 3.5rem;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  div.social-icon-bar {
    visibility: hidden;
  }
  div.flexAbout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 60px 0 60px;
  }
  div.flexAbout div.textContainer1 {
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 50px;
  }
  div.flexAbout div.textContainer1 h2 {
    text-align: center;
    padding-bottom: 50px;
  }
  div.flexAbout div.textContainer1 button {
    -ms-flex-item-align: center;
        align-self: center;
  }
  div.flexAbout div.imgContainer2 {
    width: 100%;
  }
  div.flexAbout div.imgContainer2 img {
    width: 100%;
    -o-object-position: 0px -40px;
       object-position: 0px -40px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section.gallery {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  section.gallery h2 {
    padding-bottom: 50px;
    text-transform: none;
  }
  section.gallery li:nth-child(2) {
    display: none;
  }
  section.gallery .galleryFlex li {
    width: 50%;
    margin-left: 0;
  }
  section.gallery .galleryFlex li:nth-child(3) {
    margin-right: 0;
  }
  section.nav2 {
    padding-top: 120px;
  }
  section.nav2 .nav2Flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.nav2 .nav2Flex li {
    text-align: center;
    padding-bottom: 50px;
  }
  section.nav2 .nav2Flex li:nth-child(2) {
    margin-left: 0px;
  }
  section.nav2 .nav2Flex i {
    padding-bottom: 15px;
  }
  section.blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.blogFlex1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  div.blogFlex1 div.textContainer2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.blogFlex1 div.textContainer2 h2 {
    text-align: center;
  }
  div.blogFlex1 div.textContainer2 button {
    -ms-flex-item-align: center;
        align-self: center;
  }
  div.blogFlex1 div.imgContainerR {
    position: unset;
  }
  div.blogFlex1 div.imgContainerR img {
    position: unset;
  }
  div.blogFlex2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  div.blogFlex2 div.imgContainerL {
    position: unset;
  }
  div.blogFlex2 div.imgContainerL img {
    position: unset;
  }
  div.blogFlex2 div.textContainer3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.blogFlex2 div.textContainer3 h2 {
    text-align: center;
  }
  div.blogFlex2 div.textContainer3 button {
    -ms-flex-item-align: center;
        align-self: center;
  }
  /* FOOTER STYLING FLEX container */
  div.footerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 40px;
    /* FOOTER NAVBAR */
    /* FORM STYLING */
    /* FORM FLEX container for input bar and button */
    /* CONTACT div center text */
  }
  div.footerFlex nav.footer-nav {
    padding-top: 0;
    padding-bottom: 50px;
    width: 100%;
    /* UL as FOOTER NAVBAR FLEX container */
    /* FOOTER NAVBAR for MOBILE */
  }
  div.footerFlex nav.footer-nav ul.footer-nav-flex {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 0px;
  }
  div.footerFlex nav.footer-nav ul.footer-nav-flex li {
    text-transform: capitalize;
    font-weight: 300;
  }
  div.footerFlex nav.footer-nav ul.footer-nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  div.footerFlex nav.footer-nav ul.footer-nav-mobile li {
    font-weight: 300;
  }
  div.footerFlex form h2 {
    padding-bottom: 20px;
  }
  div.footerFlex label {
    font-weight: 400;
  }
  div.footerFlex div.formFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  div.footerFlex div.formFlex input {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  div.footerFlex div.formFlex button {
    -ms-flex-item-align: center;
        align-self: center;
  }
  div.footerFlex div.contact-info {
    text-align: center;
    padding-top: 50px;
  }
  div.footerFlex div.contact-info p {
    font-weight: 400;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  div.headerFlex h1 {
    left: 5%;
    font-size: 6vmax;
  }
  #home {
    height: 800px;
  }
}
@media (min-width: 400px) and (max-width: 500px) {
  div.headerFlex h1 {
    left: 17%;
    font-size: 7.2vmax;
    height: 950px;
  }
}
@media (min-width: 480px) and (max-width: 900px) {
  div.headerFlex h1 {
    left: 23%;
    font-size: 8.5vmax;
    height: 1600px;
  }
}
/* stripping styles */
h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* wrapper */
.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* variables for background colours and text colour */
/* General styles */
html {
  font-size: 125%;
  color: #FFFFFF;
  font-weight: 400;
  font-family: "Petit Formal Script", cursive;
  background: #815600;
}

p, .header-nav, .footer-nav, small {
  font-family: "Roboto", sans-serif;
}

p, .header-nav {
  font-weight: 300;
  font-size: 1rem;
  line-height: 29px;
}

p {
  letter-spacing: 0.2px;
}

h1 {
  font-size: 4.5rem;
  line-height: 94.3px;
  text-align: right;
  font-weight: 400;
}

h2 {
  font-size: 2.7rem;
  font-weight: 400;
}

h3 {
  font-size: 2.25rem;
  font-weight: 400;
}

/* STYLING ALL BUTTONS */
button {
  font-size: 1.25rem;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Petit Formal Script", cursive;
  padding: 7.5px 17px;
  border: 5px solid #1D0303;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.footer-nav {
  line-height: 29px;
}

.about, .nav2, footer {
  background: #500801;
}

button, .copyright {
  background: #1D0303;
  text-align: center;
}

/* STYLING FOR ALL BUTTONS HOVER, FOCUS, ACTIVE */
button:hover, button:focus, button:active {
  cursor: pointer;
  text-shadow: 0 0 2px #FFFFFF;
  font-size: 1.5rem;
  -webkit-box-shadow: 0 0 15px #1D0303;
          box-shadow: 0 0 15px #1D0303;
}

/* STYLING FOR ALL ANCHOR TAGS HOVER, FOCUS, ACTIVE */
a:hover, a:focus, a:active {
  text-shadow: 0 0 2px #FFFFFF;
}

/* HEADER background img */
header {
  background-image: url("../assets/group-bags.png");
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: center;
  height: 800px;
}

/* FLEX h1 and header img */
.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  /* POSITIONING MAIN HEADING relative to background header img */
  /* IMG container for header img */
}
.headerFlex h1 {
  width: 50%;
  position: absolute;
  top: 270px;
  left: -100px;
  padding-right: 20px;
}
.headerFlex .imgContainer1 {
  width: 50%;
  margin-bottom: 50px;
  padding-left: 60px;
  position: relative;
  /* social media icon bar header */
}
.headerFlex .imgContainer1 img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  display: none;
}
.headerFlex .imgContainer1 .social-icon-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: fixed;
  right: 60px;
  top: 540px;
  z-index: 1;
}
.headerFlex .imgContainer1 .social-icon-bar i {
  margin-bottom: 10px;
}

/* FLEX container for header navbar */
.header-nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10px;
}
.header-nav-flex a {
  display: inline-block;
  padding-top: 15px;
  padding-right: 15px;
  margin-right: 20px;
}

/* hide MENU before mobile screen width */
.hamburger-menu {
  display: none;
}

/* FLEX container ABOUT section for text and image */
.flexAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 120px;
  padding-top: 60px;
  /* IMG CONTAINER 2 for image in ABOUT section */
  /* TEXT CONTAINER 1 ABOUT section */
}
.flexAbout .imgContainer2 {
  width: 35%;
  padding-top: 10px;
}
.flexAbout .imgContainer2 img {
  width: 320px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -62px 60px;
     object-position: -62px 60px;
}
.flexAbout .textContainer1 {
  width: 100%;
  margin-left: 50px;
  padding-top: 60px;
}
.flexAbout .textContainer1 h2 {
  padding-bottom: 30px;
}
.flexAbout .textContainer1 p {
  padding-bottom: 35px;
}

/* GALLERY section inside MAIN */
.gallery {
  padding-top: 90px;
  padding-bottom: 150px;
  /* FLEX container for GALLERY images */
}
.gallery h2 {
  text-align: center;
  padding-bottom: 80px;
  text-transform: lowercase;
}
.gallery .galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery .galleryFlex li {
  margin-right: 20px;
  margin-left: 20px;
  width: calc(33.3333333333% - 40px);
}
.gallery .galleryFlex li img {
  width: 100%;
}

/* second NAV inside main section */
.nav2 {
  padding-top: 50px;
  padding-bottom: 80px;
  /* FLEX container for 2nd navbar */
}
.nav2 .nav2Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* only add more margin for 2nd list element */
}
.nav2 .nav2Flex li:nth-child(2) {
  margin-left: 40px;
}
.nav2 .nav2Flex i {
  display: block;
  text-align: center;
}

/* BLOG SECTION 1 FLEX AND POSITIONING */
.blogFlex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* TEXT CONTAINER2 for first blog text */
  /* IMG container for IMG on the right */
}
.blogFlex1 .textContainer2 {
  width: 50%;
  padding-top: 100px;
  padding-bottom: 105px;
}
.blogFlex1 .textContainer2 h2 {
  padding-bottom: 35px;
}
.blogFlex1 .textContainer2 p {
  padding-bottom: 40px;
}
.blogFlex1 .imgContainerR {
  position: relative;
  width: 100%;
}
.blogFlex1 .imgContainerR img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 20%;
}

/* BLOG SECTION 2 FLEX AND POSITIONING */
.blogFlex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* IMG container for IMG on the left */
  /* TEXT container for 2nd blog text */
}
.blogFlex2 .imgContainerL {
  width: 100%;
  position: relative;
}
.blogFlex2 .imgContainerL img {
  width: 100%;
  position: absolute;
  top: 0;
  right: 22%;
}
.blogFlex2 .textContainer3 {
  width: 67%;
  padding-top: 90px;
  padding-bottom: 100px;
}
.blogFlex2 .textContainer3 h2 {
  padding-bottom: 30px;
}
.blogFlex2 .textContainer3 p {
  padding-bottom: 30px;
}

/* FOOTER STYLING FLEX */
.footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
  /* NAVBAR FOOTER */
  /* FORM STYLING FOOTER */
  /* CONTACT section FOOTER */
}
.footerFlex .footer-nav {
  padding-top: 80px;
  width: 20%;
  /* hide FOOTER NAVBAR for MOBILE */
}
.footerFlex .footer-nav .footer-nav-mobile {
  display: none;
}
.footerFlex form {
  text-align: center;
  /* FLEX CONTAINER for input bar and subscribe button */
}
.footerFlex form h2 {
  padding-bottom: 45px;
}
.footerFlex form label {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  display: block;
  padding-bottom: 15px;
}
.footerFlex form .formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footerFlex form .formFlex input {
  width: 450px;
  height: 52.5px;
  border-radius: 0px;
}
.footerFlex .contact-info {
  text-align: right;
  padding-top: 40px;
}
.footerFlex .contact-info h3 {
  padding-bottom: 15px;
}

/* COPYRIGHT section FOOTER */
.copyright {
  padding: 10px;
  letter-spacing: 0.2px;
  line-height: 29px;
}