@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 768px) {
  .aboutFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutFlex .imgContainer, .aboutFlex .textContainer {
    width: 95%;
  }
}
/* stripping styles */
h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* wrapper */
.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* variables for background colours and text colour */
/* General styles */
html {
  font-size: 125%;
  color: #FFFFFF;
  font-weight: 400;
  font-family: "Petit Formal Script", cursive;
  background: #815600;
}

p, .header-nav, .footer-nav, small {
  font-family: "Roboto", sans-serif;
}

p, .header-nav {
  font-weight: 300;
  font-size: 1rem;
  line-height: 29px;
}

p {
  letter-spacing: 0.2px;
}

h1 {
  font-size: 4.5rem;
  line-height: 94.3px;
  text-align: right;
  font-weight: 400;
}

h2 {
  font-size: 2.7rem;
  font-weight: 400;
}

h3 {
  font-size: 2.25rem;
  font-weight: 400;
}

button {
  font-size: 1.25rem;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Petit Formal Script", cursive;
  padding: 7.5px 17px;
  border: 5px solid #1D0303;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover, button:focus, button:active {
  cursor: pointer;
  text-shadow: 0 0 2px #FFFFFF;
  font-size: 1.5rem;
  -webkit-box-shadow: 0 0 15px #1D0303;
          box-shadow: 0 0 15px #1D0303;
}

.footer-nav {
  line-height: 29px;
}

.about, .nav2, footer {
  background: #500801;
}

button, .copyright {
  background: #1D0303;
  text-align: center;
}

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.headerFlex h1 {
  width: 50%;
  padding-top: 175px;
  padding-right: 50px;
}

.header-nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header-nav-flex a {
  display: inline-block;
  padding-top: 15px;
  padding-right: 15px;
  margin-right: 20px;
}

.imgContainer1 {
  width: 50%;
  margin-bottom: 50px;
  padding-left: 60px;
}
.imgContainer1 img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.flexAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0 100px;
}

.textContainer1 {
  width: 100%;
  margin-left: 50px;
}
.textContainer1 h2 {
  padding-bottom: 20px;
}
.textContainer1 p {
  padding-bottom: 20px;
}

.imgContainer2 {
  width: 35%;
  padding-top: 10px;
}

.gallery {
  padding-top: 90px;
  padding-bottom: 150px;
}
.gallery h2 {
  text-align: center;
  padding-bottom: 80px;
}

.galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.galleryFlex li {
  margin-right: 20px;
  margin-left: 20px;
  width: calc(33.3333333333% - 40px);
}
.galleryFlex li img {
  width: 100%;
}

.nav2 {
  padding-top: 50px;
  padding-bottom: 80px;
}

.nav2Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.nav2Flex i {
  display: block;
  text-align: center;
}

.blog {
  padding: 50px;
}

.blogFlex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blogFlex1 .textContainer2, .blogFlex1 .imgContainerR {
  width: 50%;
}
.blogFlex1 .textContainer2 img, .blogFlex1 .imgContainerR img {
  width: 100%;
}

.footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

form {
  text-align: center;
}
form h2 {
  padding-bottom: 45px;
}
form label {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  display: block;
  padding-bottom: 15px;
}
form input {
  width: 450px;
  height: 52.5px;
  border-radius: 0px;
}

.formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info {
  text-align: right;
  padding-top: 40px;
}
.contact-info h3 {
  padding-bottom: 15px;
}

.footer-nav {
  padding-top: 80px;
  width: 20%;
}

.copyright {
  padding: 10px;
  letter-spacing: 0.2px;
  line-height: 29px;
}

/* link shimmer */
a:hover, a:focus, a:active {
  text-shadow: 0 0 2px #FFFFFF;
}